body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-container {
  padding: 10px 0;
  height: 20px;
}

.game-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}

.status-message {
  height: 20px;
  padding-bottom: 30px;
}

.something-else-container {
  padding-top: 30px;
}

.something-else-message {
  height: 150px;
  width: 100px;
}

.top-section {
  padding-bottom: 15px;
}

/*.game-button {*/
  /*border: none;*/
  /*font-family: inherit;*/
  /*color: #fff;*/
  /*background: green;*/
  /*cursor: pointer;*/
  /*padding: 10px 40px;*/
  /*display: inline-block;*/
  /*margin: 10px 20px;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: 1px;*/
  /*font-weight: 700;*/
  /*outline: none;*/
  /*position: relative;*/
  /*-webkit-transition: all 0.3s;*/
  /*-moz-transition: all 0.3s;*/
  /*transition: all 0.3s;*/

/*}*/

/*.game-button:hover {*/
  /*color: #0e83cd;*/
  /*background: orange;*/
/*}*/